.container {
  display: grid;
  grid-template-areas: "A B C"
                        "D D D";
  align-items: center;
  align-content: center;
  justify-items: center;
  grid-gap: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 1vw;
  font-family: 'Tilt Warp', cursive;
  transform: translate(-50%, -50%);

  @media (max-width: 750px) {
    font-size: 2vw;
    grid-template-areas: "A B"
                          "C D";
  }

  @media (max-width: 500px) {
    margin-top: 200px;
    font-size: 2.5vw;
    grid-template-areas: "A"
                          "B"
                          "C"
                          "D";
  }

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    padding: 0.625vw;
    border-radius: 0.625vw !important;
    color: #f5ffff;
    max-width: 6.25vw;
    width: 100%;
    max-height: 1.875vw;
    cursor: pointer;
    background-color: #a6e3e9;
    transition: 0.3s 0s ease;

    @media (max-width: 700px) {
      max-width: 9vw;
      max-height: 2vw;
    }

    @media (max-width: 500px) {
      max-width: 14vw;
      max-height: 3vw;
    }

    &:hover {
      color: white;
      background-color: #84f1fd;
    }
  }

  .box {
    position: relative;
    aspect-ratio: 1/1;
    height: 21.875vw;
    box-shadow: inset 20px 20px 20px rgba(0, 0, 0, 0.05), 25px 35px 20px rgba(0, 0, 0, 0.05), 25px 30px 30px rgba(0, 0, 0, 0.05),
    inset -20px -20px 25px rgba(255, 255, 255, 0.9);
    transition: 0.3s ease-in-out;

    @media (max-width: 750px) {
      height: 35vw;
    }

    @media (max-width: 500px) {
      height: 50vw;
    }

    .content {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      max-width: 300px;
    }

    &:hover {
      border-radius: 100%;
    }
  }

  :first-child {
    border-radius: 69% 31% 70% 30% / 30% 65% 35% 70%;
    grid-area: A;
  }

  :nth-child(2) {
    border-radius: 58% 42% 45% 55% / 39% 54% 46% 61%;
    grid-area: B;
  }

  :nth-child(3) {
    border-radius: 65% 35% 62% 38% / 39% 54% 46% 61%;
    grid-area: C;
  }

  :last-child {
    border-radius: 63% 37% 74% 26% / 39% 68% 32% 61%;
    grid-area: D;
  }
}